
.terrain{
    transform: rotateX(30deg);
}
#player-1,#player-2,#player-3,#player-4,#player-5,#player-6,#player-7,#player-8,#player-9,#player-10,#player-11{
    top: 40%;
    left: 50%;
}

.anime-cart{
    transition: top .5s ease, left .5s ease;
}
